# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# SQLite database
*.db

# OS files
.DS_Store
Thumbs.db

# FastAPI
*.sqlite3

# Testing
.pytest_cache/

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/
aa.txt